* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/*untuk header */
.main-nav {
  background-color: #ff6e00;
}
.main-nav .navbar-nav a.nav-link {
  color: #ff6e00;
  font-weight: 200;
  border-radius: 50%;
}
.navbar.scrolled {
  background-color: #fff;
  transition: background-color 0.5s ease;
  box-shadow: 0px -10px 30px #666;
}
.navbar.scrolled a.nav-link {
  color: #666;
}
.navbar img.main-logo {
  max-width: 300px;
}
.navbar img.main-logo-hitam {
  display: none;
}
.navbar.scrolled img.main-logo-hitam {
  display: inline-block;
}
.navbar.navbar.scrolled img.main-logo-putih {
  display: none;
}

/* untuk global*/
.main-biru {
  background-color: #fff;
  color: #ff6e00;
}
.main-biru-kepercayaan {
  background-color: #ff6e00;
  color: #fff;
}
.main-biru h2 span {
  color: #ffc300;
}
h2.main-judul::after {
  margin: auto;
  margin-top: 20px;
  display: block;
  border-bottom: 10px solid #ff6e00;
  width: 100px;
  content: "";
}
.main-grey {
  background-color: #f9f9f9;
}
.main-atas-judul {
  color: #999;
  font-size: 22px;
  max-width: 600px;
}
a:hover {
  transition: color 0.5s ease;
}

/* untuk kolaborasi*/
#main-kolaborasi img {
  max-height: 50px;
  max-width: 150px;
}
#main-kolaborasi a {
  display: inline-block;
  word-spacing: 20px;
  margin-right: 20px;
  margin-bottom: 20;
}

/* untuk blog*/
.main-blog-info img {
  width: 50px;
  border-radius: 50%;
  float: left;
}
.main-blog-info {
  color: #666;
  position: relative;
}
.main-blog-info a {
  padding-right: 15px;
  color: #666;
  text-decoration: none;
}
.main-blog-info a:hover {
  color: #ff6e00;
}
#blog .main-blog-info span {
  font-size: 15px;
  padding-left: 15px;
}
#blog a {
  text-decoration: none;
  color: #000000;
}
#blog a:hover {
  color: #ff6e00;
}
#blog-detail .main-blog-info span:before {
  content: "";
  top: 0px;
  margin-bottom: 3px;
  display: inline-block;
  margin-right: 15px;
  background-color: #ccc;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}
.main-tulisan-lain h4 a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.banner {
  background: url("https://stati-content/uploads/2018/11/dark-wallpapers.jpg")
    no-repeat center center;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #ffff;
}

*/ FOOTER */ .main-footer-menu h3 {
  color: #ccc;
  margin-bottom: 15px;
}
.main-footer-menu a {
  color: #fff;
  text-decoration: none;
}
.main-footer-menu a:hover {
  color: #ff6e00;
}
.main-footer-menu ul {
  padding-left: 0px;
  margin-left: 0px;
}
.main-footer-menu ul li {
  margin-bottom: 10px;
}
.main-footer-copyright {
  background-color: #fff;
}

.hero {
  position: relative;
  height: 380px;
}

.jumbotron {
  background: transparent;
}

.hero::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -30%;
  width: 150%;
  height: 500px;
  rotate: -10deg;
  background-color: aquamarine;
  z-index: -1;
  background: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
}
